/*
Styles for core functions in Cyco.
*/
/* 
    Created on : Jul 9, 2014, 12:53:38 PM
    Author     : mathieso
*/

p.cyco_reminder {
  font-weight: bold;
  color: red;
}

.view-classes-public table {
  border: 1px #DDD solid;
  border-radius: 6px;
}

.view-classes-public .classes-public-view-class-title {
  font-size: 120%;
}

.view-classes-public .classes-public-view-body {
  margin-left: 2em;
}

/* Scroll to top - adjust color */

#back-top span#button  {
  background-color: #259fe6 !important;
}

/* Views exposed filters */
.view-filters .views-exposed-form {
  border: 2px #ddd solid;
  border-radius: 8px;
  padding: 1em;
  margin-bottom: 1em;
}

.view-filters .views-exposed-form .views-exposed-widgets {
  margin-bottom: 0;
}

/* Keywords view */

.view-keywords td {
  padding: 10px;
}