/* Book navigation */

.book-navigation p.topics-list-header {
  font-weight: bold;
  margin-top: 2em;
}

.book-navigation .topics-list-header + ul {
  margin-left: 2em;
}

.book-navigation .topics-list-header + ul li{
  margin-bottom: 1em;
}

.book-navigation .page-links {
  border-top: 1px dotted #888;
  border-bottom: 1px dotted #888;
  text-align: center;
  padding: 0.5em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.book-navigation .page-links .page-previous i {
  margin-right: 0.5em;
}

.book-navigation .page-links .page-next i {
  margin-left: 0.5em;
}

.book-navigation .page-previous {
/*  text-align: left;
  width: 42%;
  display: block;*/
  float: left; /* LTR */
}
.book-navigation .page-up {
/*  margin: 0 5%;
  width: 4%;
  display: block;
  float: left;  LTR */
}
.book-navigation .page-next {
/*  text-align: right;
  width: 42%;
  display: block;*/
  float: right;
}

/* Glyph icons. */
.block-cybercourse-book-blocks .glyphicon {
  color: #999;
}

.block-cybercourse-book-blocks .glyphicon-stop {
  font-size: 80%;
}

.block-cybercourse-book-blocks li i.glyphicon-minus-sign,
.block-cybercourse-book-blocks li i.glyphicon-plus-sign {
  cursor: pointer;
}

/* For outline rearranger thing. */
#book-outline input.form-control {
  width: auto;
}