/*
Styles for the control panel.

*/
/*
body.page-control-panel .main-container .row {
  margin-left: 2em;
  margin-right: 1em;
}

body.page-control-panel .pane-menu-menu-author ul.menu li a {
  padding: 0.3em;
}
*/