/**
 * Styles for the CyberCourse theme.
 */

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

nav[role=navigation] #block-system-user-menu {
  float: right;
}

nav[role=navigation] #block-system-user-menu ul {
  list-style: none;
}

nav[role=navigation] #block-system-user-menu ul li {
  display: inline-block;
}

h2.block-title {
  margin-top: 0;
  font-size: 150%;
}

h1.page-header {
  font-size: 320%;
}

header .navbar-header a.name {
  font-size: 240%;
}

nav ul.nav {
  margin-left: 15px;
}

nav ul.nav li a {
  font-size: 120%;
  border-left: 2px solid rgba(205, 205, 205, 0.25);
  border-right: 1px solid rgba(80, 80, 80, 0.15);
}

header.navbar .container-fluid {
  padding-left: 5px;
}

.main-container .row {
  margin-left: 0;
  margin-right: 0;
}


.field-type-taxonomy-term-reference {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

footer.region-footer {
  padding-top: 1.5em;
  padding-bottom: 0;
  margin-top: 0;
  width: 100%;
}

footer.region-footer .block-menu {
  margin-bottom: 1em;
}

footer ul.nav li {
  display: inline-block;
}

.view-header {
  margin-bottom: 1em;
}

/* Node display page. */
.field {
  margin-bottom: 1em;
}

.form-item.form-group {
  margin-bottom: 2em;
  border: 1px solid #F4F4F4;
  background-color: #FCFCFC;
  border-radius: 6px;
  padding: 0.5em;
}

input.form-item.form-group,
textarea.form-item.form-group{
  background-color: white;
}

.region-footer {
  border-top: none;
}

/*
Patch for module_filter module to put footer under other page elements.
*/
#module-filter-tabs {
  z-index: 2000;
}

.node-unpublished {
  background-color: #f2dede;
}

/*
For view for managing student submissions.
*/
#submissions-manage-filter-values-block {
  display:inline-block;
}

#submissions-manage-filter-button-block {
  display: inline-block;
  /*width: 200px;*/
  margin-bottom: 4em;
}

/* Fix revisions form. */

#diff-node-revisions .radio label {
  margin-bottom: 15px;
}

/** Patterns list. **/
div.view-patterns div.categories {
  margin-top: 1em;
}

/** All views **/
div.view .views-label {
  font-variant: small-caps;
  font-weight: bold;
  color: seagreen;
}

/** For the feedback module. **/
#block-feedback-form {
  top: 0;
  bottom: auto;
  z-index: 2000;
}

#block-feedback-form .feedback-help {
  font-size: inherit;
}

#block-feedback-form form {
  max-width: 400px;
}

#block-feedback-form h2 {
  margin-top: 4px;
}

  
#block-feedback-form .feedback-link {
  color: white;
  font-size: 16px;
}

#block-feedback-form .feedback-link * {
    display: inline;
    font-size: 16px;
}

#feedback-status-message {
  border: none;
  border-radius: 10px;
  background-color: orange;
  color: white;
  padding: 10px;
  
}

/* Phone */
@media only screen and (min-width:321px) and (max-width:480px) {
  /* Extra line height for site name.  */
  header .navbar-header a.name {
      line-height: 120%;
  }  
}