
/*
Not in use.
*/

.achievement {
  height:auto;
}

.achievement-image,
.achievement-points-box,
.achievement-body {
  float: none;
  display: inline-block;
  vertical-align: top;
}

.achievement-points-box {
  float: right;
}

.view-badges-public .view-header {
  margin-bottom: 2em;
}

.view-badges-public .views-row {
  clear: both;
}

.view-badges-public .views-row .views-field-badge-image-for-current-user {
  float: left;
  margin-bottom: 2em;
}

.view-badges-public .views-row .views-field-badge-image-for-current-user img {
  max-width: 100px;
  margin-right: 2em;
}
