/*
Import the styles supplied by docutils.
http://docutils.sourceforge.net
*/

@import url("docutils/html4css1.css");
@import url("docutils/math.css");

/*
Override some standard ReST styles.
*/
h1.title {
  text-align: left;
}

div.figure {
  margin-bottom: 2em;
}

div.figure img.bordered {
  padding: 1em;
  border: 1px solid #444;
}
