
/*
Not in use.
*/

.achievement {
  height:auto;
}

.achievement-image,
.achievement-points-box,
.achievement-body {
  float: none;
  display: inline-block;
  vertical-align: top;
}

.achievement-points-box {
  float: right;
}