/* Styling for UI for existing items. */

.rubric-select-current-item-container {
  width: 42em;
  padding: 0.5em;
  border: 1px black solid;
  margin-bottom: 1em;
}

.rubric-select-current-item-title {
}

.rubric-select-current-item-container button {
  float: right;
  margin-left: 1em;
}

/* UI for selecting a rubric item to link to the exercise. */
#rubric-select-ui {}

#rubric-select-ui-widget-container {
  width: 42em;
  border: 1px solid;
  padding: 1em;
  display: table;
}

#rubric-select-ui-row1,
#rubric-select-ui-row2 {
  display: table-row;
}

#term-tree-container {
  display: table-cell;
  width: 20em;
  
}

#term-tree-container .fancytree-container {
  max-height: 25em;
  overflow: auto;
}

#filtered-terms-container {
  display: table-cell;
  width: 20em;
  padding-left: 1em;
  cursor: pointer;
}

#filtered-terms-container ul {
  list-style-type: none;
  margin: 0;
  max-height: 25em;
  overflow: auto;
}

/* Borders separated out to prevent double inner borders. */
#filtered-terms-container ul li {
  border-top: 1px dotted #888;
  border-left: 1px dotted #888;
  border-right: 1px dotted #888;
  padding: 0.2em;
}

#filtered-terms-container ul:last-child {
  border-bottom: 1px dotted #888;
}

.term-tree-ui-mt-cell {
  display: table-cell;
}

#rubric-select-buttons-container {
  display: table-cell;
  text-align: right;
}

.rubric-select-selected-item {
  background-color: #cbe8f6;
}
