/*
Styles for exercises.
*/
.cyco-inserted-exercise {
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  background-color: transparent;
  margin-top: 2em;
  margin-bottom: 2em;
  overflow: hidden;
  padding: 1em;
}

.cyco-inserted-exercise-title {
  font-size: 150%;
  font-weight: bold;
  margin-bottom: 1em;
}

.cyco-inserted-exercise-too-bad {
  margin-top: 1em;
  font-size: 90%;
}

fieldset.cyco-inserted-exercise-attachments {
  padding: 1em;
  border: thin solid #DDD;
  border-radius: 6px;
}

fieldset.cyco-inserted-exercise-attachments legend {
  border-bottom: none;
  margin-bottom: 0;
}  

/* 
  Styles for exercise submission links.
*/
.cyco-inserted-exercise-links-container {
  margin-top: 1em;
}

.cyco-inserted-exercise-link-container {
  margin-top: 0.5em;
}

.cyco-inserted-exercise-link-version {
  display: inline;
  margin-right: 2em;
}

.cyco-inserted-exercise-link-status {
  display: inline;
  margin-right: 2em;
}

.cyco-inserted-exercise-link-link {
  display: inline;
  margin-right: 2em;
}

/* 
For file selection widget on submission form, hide the description.
It's misleading.
*/
.file-widget .form-item form-type-textfield .description {
  display: none;
}

.cyco-feedback-phrases-preview-container div {
  margin-top: 1em;
}

.cyco-submission-version {
  font-size: 150%;
  margin-bottom: 1em;
  font-weight: bold;
  color: green;
}

.view-submissions-student-report td {
  vertical-align: middle;
}

.not-student {
  margin-top: 1em;
  font-style: italic;
}

/* For view listing exercises for authors. */

.view-exercises .views-field-title-3 {
  text-align: left;
  font-size: 150%;
}

.view-exercises .views-field-field-body .field-content {
  margin-left: 1em;
}

.view-exercises .views-field-field-body .field-content p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.view-exercises .views-row {
  margin-bottom: 2em;  
}


/* For view listing exercises for everyone. */

.view-exercises-public .views-row {
  margin-bottom: 1em;
}

.view-exercises-public .views-field-title {
  font-size: 150%;
  font-weight: bold;
}

.view-exercises-public .views-field-field-body,
.view-exercises-public .views-field-title-1 {
  margin-left: 2em;
}

.view-exercises-public .views-field-title-1 {
  margin-top: 1em;
}

.view-exercises-public .views-label-title-1 {
  font-weight: bold;
}