/*
* @file
* Styles for Show-What-I-Mean.
*/

/*@import url("swim_editing.css");*/

code {
  color: inherit !important;
  background-color: inherit !important;
  font-size: inherit !important;
}

.swim img {
  max-width: 100%;
  max-height: 100%;
}

.swim p {
  margin-top: 20px;
  margin-bottom: 20px;
}

.swim-plugin-error {
  font-weight: bold;
  font-size: 120%;
  color: red;
}

/*
Rearrange book, out title field to right of drag marker, otherwise
indenting level is not clear.
*/
table#book-outline td div.form-type-textfield {
  float: left;
}